{
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "plugins": ["react", "import", "jsx-a11y"],
  "rules": {
    "react/prop-types": "off",
    "react/display-name": "off",
    "no-console": "off",
    "comma-dangle": ["warn", "always-multiline"],
    "import/prefer-default-export": "off",
    "react/prefer-stateless-function": "off",
    "react/destructuring-assignment": "off"
  }
}
